*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  /* outline: 1px solid red; */
}

/* reusable code */

.bg-base {
  background-color: #2c2640;
}

.bg-footer {
  background-color: #fafafa !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.w-85 {
  width: 85% !important;
}

.w-40 {
  width: 40% !important;
}
.w-60 {
  width: 60% !important;
}

.w-30 {
  width: 30% !important;
}

.w-20 {
  width: 20% !important;
}
.mt-7 {
  margin-top: 15rem !important;
}

.mt-6 {
  margin-top: 5rem !important;
}

.border-base {
  border: 1px solid #b0a4b2 !important;
}

.fw-semi-bold {
  font-weight: 600 !important;
}
.fw-semi-light {
  font-weight: 400 !important;
}

.fs-7 {
  font-size: 0.875rem !important;
}

.text-base {
  color: #969696 !important;
}

.underline-hover:hover {
  border-bottom: 1px solid #131313 !important;
}
.content-box {
  padding: 4rem 0;
}

/* nav section */

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 0 0 0;
}

.nav-body {
  height: 0;
  overflow: hidden;
  transition: all 0.6s ease;
  text-align: center;
}

.show-navBody {
  height: 15.25rem;
}

.nav-body li {
  margin: 1rem 0 0 0;
  padding: 0;
}

.nav-body li a {
  padding: 1rem;
  margin: 2rem 0;
  color: #807e83;
  font-size: 0.875rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: all 0.3s ease;
}

.nav-body li a:hover {
  color: rgb(44, 38, 64);
}
.nav-body li > .btn-plan {
  font-family: "Open Sans", sans-serif;
}

.nav-center {
  padding: 0.3rem;
}

.nav-toggler {
  border: none;
  transition: all 0.5s ease;
}
.nav-toggler:hover {
  transform: rotate(160deg);
}

.close-icon {
  display: none !important;
}

.logo {
  width: 6rem;
}

.content-heading {
  font-size: 2.5rem;
}

.sm-picture {
  min-height: 20vh !important;
}

/* buttons */

.btn-plan {
  background: transparent;
  padding: 0.5rem 1rem;
  color: #2e2e30;
  transition: all 0.3s ease;
  border-color: #2e2e30;
  border-radius: 3px;
  transition: all 0.7s ease;
}

.btn-plan:hover {
  background-color: #2e2e30;
  color: #fff;
}

.btn-plan2 {
  background: transparent;
  color: #fff;
  border-color: #fff;
  transition: all 0.7s ease;
  padding: 0.7rem 2.5rem;
  font-size: 1.3rem;
  border-radius: 3px;
}

.btn-plan2:hover {
  background-color: #fff;
  color: #2c2640;
}

@media only screen and (min-width: 62rem) {
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .nav-header {
    padding: 1rem;
  }

  .nav-toggler {
    display: none;
  }

  .nav-body {
    display: flex;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff !important;
  }
  .logo {
    width: 9rem;
  }

  .content-heading {
    font-size: 3rem;
  }

  .content-paragraph {
    font-size: 1.25rem;
  }

  .content-box {
    padding: 7rem 0;
  }
  .header-content {
    height: 40rem;
  }

  .how-we-work {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
